body{
    font-family: arial, sans-serif;
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #454440;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.main{
    width:100%;
    background: url(../img/fon1.png) center/cover no-repeat;
    height: 900px;
}
.title_container{
    float: left;   
    color: #454440;
    text-align: center;
    width: 100%;
    max-width: 100%;
    /*margin-left: 80px;*/
    animation: titlemove 1s ease forwards;
    animation-delay: 2.4s;
    margin-top: 200px;
}

.title_container h1{
    font-size: 72px;
    font-weight: bold;
}

.title_container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #454440;
    font-weight: bold;
}

.title_container input{
    height: 40px;
    width: 30%;
    max-width: 100%;
    text-align: center;
    border: 2px solid #454440;
    background: #454440;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 0px 16px;
    margin: 58px 14px 0px 14px;
    transition-duration: 0.2s;
    transform: scale(1);
}

.title_container input:hover{
    background-color: white;
    color: #454440;
}

.title_container input:active{
    transform: scale(1.1);
}

.va3{
    width: 100%;
}

.va12 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-left: 0px;
    margin-right: 0px;
    height: 100%;
}

@media (max-width: 750px){
    .title_container h1{
        font-size: 40px;
    }
}

@media (max-width: 760px){
    .title_container input{
        width: 40%;
    }
}

@media (max-width: 500px){
    .title_container input{
        width: 50%;
    }
}

.about{
    width: 100%;
    background: url(../img/fon2.jpg) center/cover no-repeat;
}

.info a{
    text-decoration: none;
}

.foto1{
    display: block;
    margin: 0 auto;
    margin-top: 62px;
    width: 300px;
    height: 400px;
}

.info h2{
    font-size: 30px;
    font-weight: bold;
    color: #454440;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.p1{
    text-align: center;
    font-size: 20px;
    color: #454440;
    font-weight: bold;
    padding-top: 20px;
}

.text34{
    text-align: center;
    font-size: 20px;
    color: #454440;
}

.span1{
    margin-bottom: 70px;
}

.info span{ 
    color: #454440;
    font-weight: bold;
}

.info1 h2{
    font-size: 30px;
    font-weight: bold;
    color: #454440;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}

.service-price1{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 40px 0 rgb(69 68 64 / 20%);
    border-radius: 8px 8px;
    height: 350px;   
}

.service-price2{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 40px 0 rgb(69 68 64 / 20%);
    border-radius: 8px 8px;
    height: 450px;   
}

.service-price {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 40px 0 rgb(69 68 64 / 20%);
    border-radius: 8px 8px;
    height: 300px;   
}

@media (max-width: 420px){
    .service-price{
        height: 400px;
    }

    .service-price1{
        height: 450px;
    }

    .service-price2{
        height: 550px;
    }
}

.service-price__title {
    background-color: #454440;
    width: 100%;
    color: #fff;
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-price__title-text {
    font-size: 18px;
    text-transform: uppercase;
    width: 60%;
    display: flex;
}

.service-price__title-price {
    white-space: nowrap;
    width: 40%;
    text-align: right;
}

.service-price__body {
    background-color: #fff;
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.service-price__desc {
    padding-bottom: 15px;
    flex-grow: 1;
}

.service-price__desc-title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.service-price__composition {
    padding: 0;
    margin: 0;
}

.list {
    margin-bottom: 8px;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

@media (max-width: 455px){
    .service-price{
        height: 400px;
    }
}

.price{
    margin-top: 50px;
    margin-bottom: 100px;
}

.price-btn{
    text-align: center;
    margin-top: 30px;
}

.input1{
    height: 40px;
    width: 30%;
    max-width: 100%;
    text-align: center;
    border: 2px solid #454440;
    background: #454440;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    padding: 0px 16px;
    transition-duration: 0.2s;
    transform: scale(1);
}

@media (max-width: 760px){
    .input1{
        width: 70%;
    }
}

@media (max-width: 500px){
    .input1{
        width: 100%;
    }
}

@media (min-width: 761px) and (max-width: 990px){
    .input1{
        width: 60%;
    }
}

.input1:hover{
    background-color: white;
    color: #454440;
}

.input1:active{
    transform: scale(1.1);
}

.s{
    height: 450px;
}

@media (max-width:  530px){
    .s{
        height: 550px;
    }
}

.s h2{
    font-size: 30px;
    font-weight: bold;
    color: #454440;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.polz{
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #454440;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

datalist {
 width: 100%;
display: flex;
justify-content: space-between;
}

.price12{
    margin-top: 50px;
}

.price-calc-result {
    width: 100%;
    margin: 0 auto;
    border: 2px solid #454440;
    background-color: #fff;
    box-shadow: 0 20px 20px 0 rgb(69 68 64 / 20%);
    border-radius: 8px;
    padding: 30px;
    text-align: center;
}

.price-calc-result span{
    text-align: center;
    font-size: 20px;
    color: #454440;
    text-transform: uppercase;
    font-weight: bold;
}

.price-calc-result-value {
    font-size: 40px;
    font-weight: 500;
}

.rouble{
    font-size: 20px;
    font-weight: 500;
}

.projects{
    width: 100%;
}

.projects h2{
    font-size: 30px;
    font-weight: bold;
    color: #454440;
    text-align: center;
    margin-bottom: 50px;
}

.number{
    max-width: 100%;
    max-height: 100%;
    margin-right: 10px;
}

.number1{
    float: left;
    max-width: 90%;
    text-align: center;
    margin-top: 20px;
}

.number2{
    float: left;
    max-width: 90%;
    text-align: center;
    margin-top: 20px;
}

.number3{
    float: left;
    max-width: 90%;
    text-align: center;
    margin-top: 20px;
}

.pc{
    margin-top: 10px;
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
}

.pc1{
    width: 400px;
    height: 300px;
}

.number span{
    color: #454440;
}

@media (max-width: 490px){
    .pc{
        width: 300px;
        height: 250px;
    }
}

.n1{
    float: left;
    padding-top: 30px;
}

.get{
    width: 100%;
}

.get h2{
    font-size: 30px;
    font-weight: bold;
    color: #454440;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.img{
    float: left;
}

.lamp{
    width: 125px;
    height: 125px;
    margin-right: 10px;
}

.item-title{
    font-size: 20px;
    color: #454440;
    font-weight: bold;
}

.item-text{
    color: #454440;
}

.application{
    width: 100%;
    height: 500px;
    background: url(../img/fon3.png) center/cover no-repeat;
}

.application h2{
    font-size: 30px;
    font-weight: bold;
    color: #454440;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 50px;
    margin-top: 100px;
}

.application h1{
    font-size: 25px;
    font-weight: bold;
    color: #454440;
    text-align: center;
    margin-bottom: 50px;
}

.email{
    height: 35px;
    max-height: 100%;
    width: 50%;
    background: none;
    border: 2px solid #454440;
    border-radius: 5px;
    color: #454440;
    margin-right: 16px;
    margin-top: 15px;
}

.contact{
    text-align: center;
    margin-top: 40px;
    margin-left: 15px;
}

@media (max-width: 500px){
    .application h1{
        font-size: 20px;
    }
}

@media (max-width: 650px){
    .email{
        width: 60%;
    }
}

.send{
    height: 40px;
    text-align: center;
    border: 2px solid #454440;
    background: none;
    border-radius: 5px;
    color: #454440;
    font-size: 13px;
    width: 125px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.send:hover{
    background-color: #454440;
    color: #fff;
}

.send:active{
    transform: scale(1.1);
}

.foot{
    width: 100%;
    height: 200px;
    float: left;
}

.icon{
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 10px;
    margin-left: 15px;
}

.left{
    margin-top: 30px;
}

.pin{
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

@media (max-width: 530px){
    .pin{
        width: 25px;
        height: 25px;
    }
}

.me1{
    text-align: center;
    margin-top: 30px;
}

.me1 a{
    text-decoration: none;
}