html, body {
    font-family: 'NTSomic';
}

@font-face {
  font-weight: 700; /* Соответствует значению bold */
  font-family: "NTSomic";
  src: url("../font/NTSomic-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "NTSomic";
  src: url("../font/NTSomic-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: "NTSomic";
  src: url("../font/NTSomic-Medium.ttf");
}

@font-face {
  font-family: "SANTELLO";
  src: url("../font/SANTELLO.ttf");
}

ul {
    padding: 0;
}
ul li{
    list-style: none;
}

header{
    text-align: center;
    position: fixed;
    z-index: 10;
    background: white;
    width: 100%;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  z-index: 1;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #fff;
  transition-duration: .25s;
  box-shadow: 1px 0px 6px rgba(51, 115, 51, 1)
}

.menu__box button{
    background-color: #d14a44;
    width: 80%;
    border-radius: 5px;
    border: 2px solid #d14a44;
    color: white;
    padding: 5px;
    font-size: 16px;
    margin-top: 10px;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  font-weight: 500;
  font-family: "NTSomic";
}

.menu__item1 {
  display: block;
  padding: 12px 24px;
  color: #d14a44;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  transition-duration: .25s;
  text-align: center;

}
    

.menu__item:hover{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgba(51, 115, 51, 1);
    color: rgba(33, 97, 33, 1);                     
}

.menu__item:focus{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgba(51, 115, 51, 1);
    color: rgba(33, 97, 33, 1);
}

.menu__item:active{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgba(51, 115, 51, 1);
    color: rgba(33, 97, 33, 1);
}

@media(max-width: 992px){
    .hamburger-menu{
        display: block;
}
    .menu1{
        display: none;
    }
    .main_logo{
        margin-top: 0px;
    }
}
.mainlogo{
    width: 71%;
}

.left-block{
    position: fixed;
    top: 0;
    left: 20;
    width: 27%;
}

.menu{
    text-align: center;
}


.head_item{
    font-family: "SANTELLO"; 
    padding-top: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.head_logo{
    width: 100%;  
}

.menu_mob_logo{
    height: 52px;
}

@media(max-width: 400px){
    .menu_mob_logo{
        height: 34px;
    }
}

.main{
    width: 100%;
    height: 100%;
    background: url(../img/fon.png) center/cover no-repeat;
    padding-top: 50px;
}

.main h1{
    font-family: 'SANTELLO';
    font-weight: 400;
    font-size: 50px;
    line-height: 63px;
    color: #000000;
    margin-top: 30%;
}

.main img{
    margin-top: 20%;
    width: 100%;    
}

.main h2{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #000000;
}


.services{
    width: 100%; 
    background: rgba(156, 230, 156, 0.25);
}

.services h2{
    font-family: 'NTSomic';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #000000;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    margin-left: -10px;
}

.line{
    height: 0px;
    width: 327px;
    border: 2px solid black;
    margin-left: 15px;   
    max-width: 100%;
}
.services_first{
    width: 100%;
    text-align: center;
    outline: dashed 3px #000;
    border-radius: 30px;
    height: 200px;  
}
.services_first p{
    font-family: "SANTELLO";
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.about{
    width: 100%;
}

.about h2{
    font-family: 'NTSomic';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 105px;
    color: #337333;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.about p{
    font-family: 'NTSomic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin-top: -80px;
}

.about_p{
    font-family: 'NTSomic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 0px !important;
    text-align: justify;
}

.about h3{
    font-family: 'NTSomic';
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #000000;
}

.about h5{
    margin-top: 100px !important;
    font-family: 'NTSomic';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #000000;
    }
.about_p1 span{
    font-weight: 500;
}
.contacts{
    width: 100%;
    background: linear-gradient(210.18deg, #FFFFFF 36.58%, rgba(156, 230, 156, 0.88) 81.61%);
}

.contacts h2{
    font-family: 'NTSomic';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #337333;
    text-align: center;
}

.contacts p{
    font-family: 'NTSomic';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #000000;
}

.contacts h3{
    font-family: 'SANTELLO';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-left: 10%;
}

.contacts_input{
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    height: 50px;
    width: 70%;
    margin-left: 10%;
    border-bottom: 1px solid #7A7A7A;
    background: transparent;
}

.contacts_width{
    width: 70%;
    text-align: center;
    margin-left: 10%;
}

.contacts_width_button{
    font-family: 'SANTELLO';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #337333;
    border: none;
    width: 243px;
    height: 48px;
}

.contacts_width_button:active{
    color: #337333;
    background: #fff;
}

.company{
    width: 100%;
}

.company h2{
    font-family: 'NTSomic';
    font-style: normal;
    font-weight: 500;
    font-size: 65px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
}

.company_type{
    width: 100%;
    border-radius: 30px;
    background: url(../img/fon1.png) center/cover no-repeat;
    height: 300px;
}

.company_type1{
    width: 100%;
    border-radius: 30px;
    height: 300px;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.company_type1 img{
    width: 80px;
    height: 80px;
    margin-top: 20%;
}

.company_type1 p{
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "NTSomic";
    line-height: 25px;
    letter-spacing: 1px;
}

.company_type2{
    background: url(../img/fon2.png) center/cover no-repeat;
}

.company_type3{
    background: url(../img/fon3.png) center/cover no-repeat;
}

.list_text{
    background: url(../img/list_text.png) center/cover no-repeat; 
    width: 956px;
    height: 537px;
    padding: 157px 66px 178px 213px;
    font-family: 'SANTELLO';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #000000;
    display: block;
}

.list_text1{
    display: none;
}

.phone_list p{
    font-family: 'SANTELLO';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #000000
}

.phone_list img{
    width: 50px;
    height: 50px;
}

.phone_list span{
    font-family: 'NTSomic';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #000000;
    padding-left: 20px;
}

@media(max-width: 992px){
    .main h1{
        font-size: 30px;
    }
    .main h2{
        font-size: 15px;
    }.about h5 {
    margin-top: 50px !important;}
    .list_text{
        width: 717px;
        height: 402px;
        font-size: 14px;
        line-height: 30px;
            padding: 118px 50px 133px 156px;
    }
    .foote_img{
        width: 100%;
    }
    .contacts p{
        font-size: 12px;
    }
}

@media(max-width: 768px){
    .main{
        background: url(../img/fon_mob1.png) center/cover no-repeat;
    }
    .main h1{
        font-size: 28px;
        line-height: 36px;
        text-align: center;
        margin-top: 10%;
    }
    .main h2{
        font-size: 20px;
        text-align: left;
        margin-top: 70%;
        padding-left: 100px;
    }
    .about h2{
        font-size: 60px;
        line-height: 85px;
    }
    .services h2{
        font-size: 45px;
    }
    .list_text {
    width: 478px;
    height: 269px;
    font-size: 11px;
    line-height: 20px;
    padding: 72px 0px 67px 88px;
}
    .mob_green{
        color: rgba(33, 97, 33, 1);
        font-weight: 500;
    }
    .foot_send{
        text-align: center;
    }
    .contacts_width{
        width: 100%;
        margin-left: 0px;
    }
    .contacts_input{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .contacts h3{
        margin-left: 0%;
    }
    .foote_img {
    width: auto;
}
}


@media(max-width: 568px){
 .about h2{
        font-size: 40px;
        line-height: 52.5px;
    }   
    .about p{
        font-size: 12px;
        line-height: 20px;
        margin-top: -50px;
    }
    .about h3{
        font-size: 14px;
        line-height: 26px;
        text-align: left;
    }
    .about_p1{
        font-size: 12px !important;
        line-height: 20px !important;
    }
    .company h2{
        font-size: 45px;
    }
    .list_span_mob{
        font-size: 14px;
        font-weight: 500;
    }
    .services_first p{
        font-size: 14px;
    }
    .company_type1 p{
        font-size: 18px;
    }
}   

@media(max-width: 500px){
    .list_text{
        padding: 0px 0px 0px 0px;
        background: rgba(174, 221, 174, 0.7);
        display: none;
    }
    .list_text1{
        display: block;
        width: 100%;
        height: auto;
        padding: 10px 10px 10px 10px;
        border-radius: 20px;
        margin-bottom: 50px;
    }
    .phone_list p{
        font-size: 14px;
        line-height: 28px;  
    }
    .phone_list img{
        width: 25px;
        height: 25px;
    }
    .phone_list span{
        font-size: 20px;
        line-height: 25px;
    }
    .foote_img {
    width: 100%;
}
}

.head_item a{
    text-decoration: none !important;
    color: black;
}

.info h2{
    font-family: 'SANTELLO';
    font-style: normal;
    color: #000;
font-size: 30px;
font-weight: 400;
}

.info{
    padding-top: 70px;
}

.info_table{
    width: 100%;
    text-align: center;
     font-family: 'SANTELLO';
    font-style: normal;
}

.info_name{
    font-size: 20px;
    font-weight: 400;
}

.info_des{
    font-size: 20px;
    font-weight: 400;
}

.info_table td{
    border-top: 2px solid rgba(51, 115, 51, 1);
    border-bottom: 2px solid rgba(51, 115, 51, 1);
    padding-top: 30px;
    padding-bottom: 30px;
}

.info a{
    text-decoration: none;
    color: black;
}

@media(max-width: 992px){
    .info_des{
        display: none;
    }
}

@media(max-width: 568px){
    .info_name{
        font-size: 16px;
    }
}

.services1 h4{
    text-align: center;
    color: black;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 30px;
}

.services1_type{
    width: 100%;
    border-radius: 35px;
    border: 1px solid rgba(174, 221, 174, 0.70);
    background: #E8F8E8;
    padding: 40px 20px 40px 20px;
}

.services1_type h3{
    font-style: normal;
font-weight: 500;
line-height: 26px;
text-align: center;
font-size: 20px;
}

.services1_type p{
    font-weight: 400;
line-height: 25px;
letter-spacing: 0.7px;
font-size: 14px;
margin-top: 20px;
}

.services1_type li{
    list-style: inside;
}

.dom_ph p{
    font-weight: 400;
line-height: 30px;
letter-spacing: 1.6px;
font-size: 16px;
margin-top: 100px;
}

.dom_ph_1{
    width: 100%;
    text-align: center;
}

.dom_ph_2{
    display: inline-block;
}

.dom_ph_2 span{
    font-weight: 500;
line-height: 30px;
letter-spacing: 1.5px;
font-size: 30px;
}

.main_calc{
    background: url(../img/fon_calc.png) center/cover no-repeat;
}
@media(min-width: 768px){
    .calc_main_h2{
    margin-bottom: 50%;
}

.calc_main_h1{
    padding-top: 20%;
}
}

@media(max-width: 768px){
    .main_calc{
    background: url(../img/fon_calc_mob.png) center/cover no-repeat;
}
.main_calc h2{
        text-align: center;
    margin-bottom: 80% !important;
    padding-left: 0px;
    margin-top: 0px !important;
}
}

.company a{
    text-decoration: none;
}

.main_upr{
    background: url(../img/fon_upr.png) center/cover no-repeat;
}

@media(max-width: 768px){
    .main_upr{
    background: url(../img/fon_upr_mob.png) center/cover no-repeat;
}}

.about_upr h2{
    font-size: 70px;
    color: #016299;
/* тень для текста */
text-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.30);
}

.about_upr p{
    font-size: 15px;
}

.services1_upr h4{
    font-size: 23px;
}

.serv_upr{
    text-align: center;
    width: 100%;
    border-radius: 35px;
    border: 1px solid #56C9FF;
    background: rgba(168, 227, 255, 0.63);
    padding: 35px 20px 35px 20px;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.75px;
    margin-top: 10px;
}

.services1_upr img{
    margin-top: 40%;
}

.contacts_upr{
    background: url(../img/fon_upr_con.png) center/cover no-repeat;
}

.contacts_upr h2{
    color: #016299;
    text-align: left;
    margin-top: 30px;
}

.contacts_width_button_bl{
    background: #016299;
}

.con_upr{
    width: 100%;
    height: 615px;
    background: url(../img/fon_upr_num.png) center/cover no-repeat;
}

.h3_upr{
    font-size: 20px;
    text-align: center;
}

@media(max-width: 992px){
    .con_upr{
        background: none;
        height: auto;
    }
}

@media(max-width: 1200px){
    .about_upr h2{
        font-size: 60px;
    }
}

@media(max-width: 768px){
    .services1_upr img{
        margin-top: 0px;
    }
    .calc_main_h2{
        font-size: 15px !important;
        padding-left: 50px !important;
        margin-top: 90% !important;
    }
    .about_upr h2{
        font-size: 30px;
        line-height: 45px;
    }
    .h3_upr{
        font-size: 16px;
    }
    .services1_upr h4{
        font-size: 16px;
    }
    .serv_upr{
        font-size: 12px;
        line-height: 14px;
        padding: 20px 20px 20px 20px;
    }
    .mob_blue{
        color: rgba(1, 98, 153, 1);
        font-weight: 500;
    }
}

.news{
    padding-top: 100px;
}

@media(max-width: 400px){
    .news{
    padding-top: 70px;
}
}

.news img{
    width: 100%;
}

.news h2{
    color: #337333;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-weight: 400;
    font-size: 45px;
}

.news p{
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 0px;
}

.news summary{
    list-style: none;
    font-weight: 500;
    color: #337333;
    font-size: 20px;
}

.news summary::-webkit-details-marker {
      display: none;
  }

@media(max-width: 1200px){
    .head_item{
        font-size: 16px;
    }
}

.head_item:active {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgba(51, 115, 51, 1);
    color: rgba(33, 97, 33, 1);
}

.head_item:hover {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgba(51, 115, 51, 1);
    color: rgba(51, 115, 51, 1);
}

.contacts a{
    text-decoration: none;
}

.info_name{
    text-align: left;
}

.info_table img{
    text-align: right;
}

.info_table{
    width: 100%;    
}

.info_table_img{
    width: 30%; 
}